<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.web.mapper.LoginMapper">

	<select id="GoLoginParent" resultType="int" parameterType="com.smhrd.web.entity.Parent">
		SELECT COUNT(*)
		FROM T_PARENT
		WHERE PARENT_ID = #{parentId} AND PARENT_PW = #{parentPw};
	</select>

	<select id="GoLoginSitter" resultType="int" parameterType="com.smhrd.web.entity.Sitter">
		SELECT COUNT(*)
		FROM T_SITTER
		WHERE SITTER_ID = #{sitterId} AND SITTER_PW = #{sitterPw};
	</select>
</mapper>