<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.web.mapper.MainMapper">

<!-- =============================================================== -->
	<resultMap id="SitterWithIntro" type="com.smhrd.web.entity.Sitter">
		<id property="sitterId" column="sitter_id" />
		<result property="sitterPw" column="sitter_pw" />
		<result property="sitterName" column="sitter_name" />
		<result property="sitterEmail" column="sitter_email" />
		<result property="sitterPhone" column="sitter_phone" />
		<result property="sitterRegion" column="sitter_region" />
		<result property="sitterCareType" column="sitter_care_type" />
		<result property="sitterWorkTime" column="sitter_work_time" />
		<result property="sitterCctvAgree" column="sitter_cctv_agree" />
		<result property="sitterPhotoImg" column="sitter_photo_img" />
		<result property="sitterIntroduction"
			column="sitter_introduction" />
		<result property="sitterJoinedAt" column="sitter_joined_at" />
		<result property="sitterCareTypeTag"
			column="sitter_care_type_tag" />
		<result property="sitterPrice" column="sitter_price" />
		<result property="sitterEducation" column="sitter_education" />

		<collection property="sitterReviews"
			ofType="com.smhrd.web.entity.SitterReview">
			<id property="reviewIdx" column="review_idx" />
			<result property="reviewRatings" column="review_ratings" />
			<result property="reviewOpinion" column="review_opinion" />
			<result property="reviewCreatedAt" column="review_created_at" />
		</collection>
	</resultMap>

	<select id="selectSitterWithIntroduction" resultMap="SitterWithIntro">
		SELECT
		s.sitter_id, s.sitter_pw, s.sitter_name, s.sitter_email, s.sitter_phone,
		s.sitter_region, s.sitter_care_type, s.sitter_work_time,
		s.sitter_cctv_agree,
		s.sitter_photo_img, s.sitter_introduction, s.sitter_joined_at,
		s.sitter_care_type_tag, s.sitter_price, s.sitter_education,
		r.review_idx, r.review_ratings, r.review_opinion, r.review_created_at
		FROM t_sitter s
		LEFT JOIN t_sitter_review r ON s.sitter_id = r.sitter_id
	</select>

<!-- ======================================================================== -->
	<resultMap id="ReviewWith" type="com.smhrd.web.entity.SitterReview">
	    <id property="reviewIdx" column="review_idx" />
	    <result property="reviewRatings" column="review_ratings" />
	    <result property="reviewOpinion" column="review_opinion" />
	    <result property="reviewCreatedAt" column="review_created_at" />
	
	    <result property="sitterId" column="sitter_id" />
	    <result property="sitterName" column="sitter_name" />
	    <result property="sitterPhotoImg" column="sitter_photo_img" />
	    <result property="sitterRegion" column="sitter_region" />
	    <result property="sitterCareTypeTag" column="sitter_care_type_tag" />
	
	    <result property="parentId" column="parent_id" />
	    <result property="parentNickname" column="parent_nickname" />
	</resultMap>

<!-- ======================================================================== -->
	<select id="selectSitterReviewTop6" resultMap="ReviewWith">
		SELECT
		r.review_idx,
		r.review_ratings,
		r.review_opinion,
		r.review_created_at,

		s.sitter_id,
		s.sitter_name,
		s.sitter_photo_img,
		s.sitter_region,
		s.sitter_care_type_tag,

		p.parent_id,
		p.parent_nickname

		FROM t_sitter_review r
		JOIN t_sitter s ON r.sitter_id = s.sitter_id
		JOIN t_parent p ON r.parent_id = p.parent_id
		ORDER BY r.review_created_at DESC
		LIMIT 6
	</select>
	
<!-- ======================================================================== -->
	<select id="selectSitterById" resultType="com.smhrd.web.entity.Sitter" parameterType="string" >
		select *
		from t_sitter
		where sitter_id = #{sitterId}
	</select>

<!-- ======================================================================== -->
	<select id="selectAverageRatingBySitterId" resultType="double" parameterType="string">
	    SELECT AVG(review_ratings) 
	    FROM t_sitter_review 
	    WHERE sitter_id = #{sitterId}
	</select>

<!-- ======================================================================== -->
	<select id="selectReviewsBySitterId"
		resultType="com.smhrd.web.entity.SitterReview" parameterType="String">
		SELECT
		r.review_idx AS reviewIdx,
		r.review_ratings AS reviewRatings,
		r.review_opinion AS reviewOpinion,
		r.review_created_at AS reviewCreatedAt,
		r.sitter_id AS sitterId,
		r.parent_id AS parentId,
		p.parent_nickname AS parentNickname,
		TIMESTAMPDIFF(YEAR, c.child_birthdate, CURDATE()) AS childAge,
		c.child_gender AS childGender
		FROM
		t_sitter_review r
		JOIN
		t_parent p ON r.parent_id = p.parent_id
		JOIN
		t_child c ON r.parent_id = c.parent_id
		WHERE
		r.sitter_id = #{sitterId}
	</select>

</mapper>