<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.web.mapper.SitterMapper">

    <!-- 이름, 사진, 태그만 조회 -->
    <select id="selectSitterList" resultType="com.smhrd.web.entity.Sitter">
        select sitter_name, sitter_photo_img, sitter_care_type_tag
        from t_sitter
    </select>
    
    <select id="selectTop6Sitters" resultType="com.smhrd.web.entity.Sitter">
	    select sitter_name, sitter_photo_img, sitter_care_type_tag, sitter_rating
	    from t_sitter
	    order by sitter_rating DESC
	    limit 6
	</select>

</mapper>