@charset "UTF-8";

/* 또는 구글폰트 예시라면 이렇게 추가 */
@font-face {
	font-family: 'NanumSquare Neo';
	src: url('...') format('woff2');
	font-display: swap;
}

* {
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  margin: 0;
	padding: 0px; 
	background: #F7F7FF;
	font-family: 'NanumSquare Neo', sans-serif;
	width: 430px;
	height: 947px;
	border-radius: 60px;
	position: relative;
	top: 50px;
}

.start-screen {
	margin: 0;
	background:#ffffff;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
   max-width: 430px;
   padding: 20px 20px 0px 20px ;
   display: flex;
   justify-content: space-between; /* 좌우 끝으로 배치 */
   align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
   width: 36px;
   height: 36px;
}

.alert-image {
   width: 28px;
   height: 28px;
   cursor: pointer;
}

.container {
  width: 430px;
  height: 932px;
  position: relative;
  background: white;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 96px;
  left: 20px;
  font-size: 22px;
  font-weight: 800;
  color: black;
}


.child-card {
 position: absolute;
  top: 166px;
  left: 20px;
  width: 387px;
  height: 80px;
  background: #F7F7FF;
  border-radius: 26px;
   display: flex;
  align-items: center;
  background: #f8f8ff;
  border: 2px solid #5A4EF1;
  border-radius: 20px;
  padding: 20px;
  gap: 15px;
  
}

.check-btn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 2px solid #5A4EF1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-btn.selected {
  background-color: #5A4EF1;
}

.check-btn .check-icon {
  width: 20px;
  height: 20px;
  stroke: #5A4EF1;
}

.check-btn.selected .check-icon {
  stroke: white;
}

.place-card selected {
  flex-grow: 1;
}

.place-name {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  width:188px;
}

.place-address {
  color: #666;
  font-size: 12px;
}

.icon-btn {
  background: none;
  border: none;
  left: 50px;
  cursor: pointer;
  padding: 4px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #5A4EF1;
}
.place-register {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 387px;
  height: 80px;
  background: #F7F7FF;
  border-radius: 26px;
}

.place-register .place-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 26px;
  left: 30px;
}

.place-register .place-text {
  position: absolute;
  top: 30px;
  left: 157px;
  font-size: 18px;
  font-weight: 800;
  color: #6E6E6E;
}

.next-button {
  position: absolute;
  top: 782px;
  left: 20px;
  width: 390px;
  height: 60px;
  background: #534DFA;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}