@charset "UTF-8";

* {
   box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'NanumSquare Neo', sans-serif;
    background-color: white;
}

.start-screen {
	margin: 0;
	background:#ffffff;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 20px 20px 0px 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
   max-width: 430px;
   display: flex;
   justify-content: space-between; /* 좌우 끝으로 배치 */
   align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
   width: 36px;
   height: 36px;
}

.alert-image {
   width: 28px;
   height: 28px;
   cursor: pointer;
}

.container {
    width: 430px;
    height: 932px;
    position: relative;
    background: white;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 22px;
    font-weight: 800;
    color: black;
    margin-top: 116px;
}

label {
	width: 380px;
	font-size: 12px;
	font-weight: 700;
	color: #6E6E6E;
	margin-top: 10px;
	margin-bottom: 8px;
	display: block;
	left: -10px;
	position: relative;
}

.input-group {
  width: 400px;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
}

.input-group label {
    font-size: 12px;
    color: #757575;
    font-weight: 700;
}

.input-box {
  width: 390px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
  left: -10px;
  position: relative;
}

.part2{
	left: 0px;
	position: relative;
}

.postcode {
  width: 346px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
  top: -15px;
  position: relative;
}

.search-btn {
    width: 40px;
    height: 40px;
    background: #534DFA;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    padding: 0px;
    position: relative;
}
.search-icon{
	width: 40px;
    height: 40px;
    border: none;
    color: white;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.address{
  width: 390px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
  top: -15px;
  position: relative;
}

.extraAddress{
  width: 390px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
  top: -15px;
  position: relative;
}

.detailAddress {
  margin-top: 10px;
  width: 390px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
  top: -25px;
  position: relative;
}

.textarea-box {
  width: 390px;
  height: 200px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
  left:-10px;
  position: relative;
}

.confirm-btn {
    width: 390px;
    height: 60px;
    background: #534DFA;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 20px;
    cursor: pointer;
}
