@charset "UTF-8";

* {
   box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0px; font-family : 'NanumSquare Neo', sans-serif;
	background: #F7F7FF;
	font-family: 'NanumSquare Neo', sans-serif;
	width: 430px;
	height: 947px;
	border-radius: 60px;
	position: relative;
}

.start-screen {
	margin: 0;
	background:#ffffff;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 20px 20px 0px 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
   max-width: 430px;
   display: flex;
   justify-content: space-between; /* 좌우 끝으로 배치 */
   align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
   width: 36px;
   height: 36px;
}

.alert-image {
   width: 28px;
   height: 28px;
   cursor: pointer;
}

.container {
    width: 430px;
    height: 932px;
    position: relative;
    margin: 0 auto;
    background: white;
    overflow: hidden;
}




/* 제목 */
.title {
    position: absolute;
    top: 136px;
    left: 20px;
    font-size: 22px;
    font-weight: 800;
    color: black;
}

/* 아이 등록 박스 */
.place-box {
    width: 387px;
    height: 80px;
    top: 195px;
    left: 20px;
    background: #F7F7FF;
    border-radius: 26px;
    position: relative;
}

.place-text {
    position: absolute;
    top: 30px;
    left: 157px;
    font-size: 18px;
    font-weight: 800;
    color: #6E6E6E;
}

.next {
    position: absolute;
    top: 26px;
    left: 30px;
    width: 28px;
    height: 28px;
    overflow: hidden;
}
