@charset "UTF-8";

/* --------------------
   Fonts
-------------------- */
@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
	font-weight: 800;
}


* {
   box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0px; font-family : 'NanumSquare Neo', sans-serif;
	font-family: 'NanumSquare Neo', sans-serif;
	width: 430px;
	height: 932px;
	border-radius: 60px;
	position: relative;
}

.start-screen {
	margin: 0;
	background:#ffffff;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
   max-width: 430px;
   padding: 20px 20px 0px 20px ;
   display: flex;
   justify-content: space-between; /* 좌우 끝으로 배치 */
   align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
   width: 36px;
   height: 36px;
}

.alert-image {
   width: 28px;
   height: 28px;
   cursor: pointer;
}

.container {
	width: 430px;
	height: 882px;
	padding: 40px ;
	background: #ffffff;
	position: relative;
	top: 50px;
}

.title {
    margin-top: 20px;
	font-size: 22px;
	font-weight: 800;
	color: black;
	margin-bottom: 40px;
}

.label {
	font-size: 12px;
	font-weight: 700;
	color: #6E6E6E;
	margin-top: 10px;
	margin-bottom: 8px;
	display: block;
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'NanumSquare Neo', sans-serif;
}

/* static/css/birth.css */
.birth-container {
    position: relative;
    width: 250px;
    margin: 100px auto;
}

#birth {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#calendar-icon {	
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}



.gender-buttons {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.gender-button {
  flex: 1;
  text-align: center;
  padding: 12px;
  border: 1.5px solid #534DFA;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
  color: #534DFA;
  background-color: white;
  margin-bottom:20px;
}

.gender-button.active {
  background-color: #534DFA;
  color: white;
}

.gender-button.active::before {
  content: "✔";
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
}

.btn-next {
  background-color: #534DFA;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  padding: 14px;
  cursor: pointer;
  margin:0;
  position: relative;
  width:350px;
}

.notes {
	font-family: 'NanumSquare Neo';
}
.behavior{
	font-family: 'NanumSquare Neo';
}