@charset "UTF-8";

/* 또는 구글폰트 예시라면 이렇게 추가 */
@font-face {
	font-family: 'NanumSquare Neo';
	src: url('...') format('woff2');
	font-display: swap;
}

* {
   box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'NanumSquare Neo', sans-serif;
    background: white;
    width: 430px;
}



.container {
    width: 430px;
    height: 932px;
    padding: 20px;
    padding-top:82px;
    
}

.start-screen {
	margin: 0;
	background:#ffffff;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
   max-width: 430px;
   padding: 20px 20px 0px 20px ;
   display: flex;
   justify-content: space-between; /* 좌우 끝으로 배치 */
   align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
   width: 36px;
   height: 36px;
}

.alert-image {
   width: 28px;
   height: 28px;
   cursor: pointer;
}

.title {
    font-size: 22px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: auto;
}

.card {
    width: 185px;
    height: 160px;
    border: 2px solid #D9D9D9;
    border-radius: 16px;
    padding: 12px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: border-color 0.2s;
}

.card.selected {
    border-color: #534DFA;
}

.checkbox {
    width: 21px;
    height: 21px;
    border: 2px solid #534DFA;
    background-color: #ffffff;
    color: #534DFA;
    border-radius: 4px;
    position: absolute;
    top: 17px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.card.selected .checkbox {
    background-color: #534DFA;
    color: #ffffff;
}

.card-title {
    margin-left: 36px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 800;
    color: #534DFA;
}

.card-desc-bold {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.card-desc {
    margin-top: 8px;
    font-size: 12px;
    color: #6E6E6E;
    padding-left: 16px;
}

.next-button {
    width: 100%;
    height: 60px;
    margin-top: 350px;
    background: #534DFA;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    line-height: 60px;
    border-radius: 16px;
    cursor: pointer;
}
#popupContainer {
      position: fixed;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  z-index: 1001;
    }

.popup {
  position: fixed;
  bottom: 600px;
  left: 65px;
  width: 430px;        /* 고정 너비 */
  height: 350px;       /* 고정 높이 */
  background: white;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
}

.popup.active {
  transform: translateY(0);
}
