@charset "UTF-8";

/* --------------------
   Fonts
-------------------- */
@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
	font-weight: 800;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'NanumSquareNeo', sans-serif;
	background-color: #F7F7FF;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

/* 전체 화면 - 바텀네비, 상단바 고정 패딩*/
.content-container {
	padding-bottom: 80px;
	padding-top: 76px;
}

.start-screen {
	margin: 0;
	padding: 0;
	background: white;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
	max-width: 430px;
	padding: 20px;
	display: flex;
	justify-content: space-between; /* 좌우 끝으로 배치 */
	align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
	width: 36px;
	height: 36px;
}

.alert-image {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.stream-container {
	padding: 20px;
	width: 390px;
	height: 657 px;
}

#stream {
	display: block;
	width: 390px;
	height: 657 px;
	border-radius: 15px
}

.alarm-btn{
	padding: 20px;
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
}



.goToAlarmBtn {
	width: 390px;
	height: 60px;
	background: linear-gradient(135deg, #7672FF 0%, #8DACFF 100%);
	border-radius: 16px;
	cursor: pointer;
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
}

.care-button-text {
	color: white;
	font-size: 18px;
	font-weight: 700;
}

/*
바텀 네비
*/
.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	height: 70px;
	background-color: white;
	border-top: 1px solid #E0E0E0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.nav-item {
	all: unset; /* 기본 버튼 스타일 전부 제거 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #6E6E6E;
	cursor: pointer;
}

.nav-text.active {
	color: #5955F5;
	font-weight: bold;
}

.bottom-nav img {
	width: 24px;
	height: 24px;
	margin-bottom: 4px;
}