@charset "UTF-8";

/* --------------------
   Fonts
-------------------- */
@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'NanumSquareNeo';
	src: url('/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
	font-weight: 800;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'NanumSquareNeo', sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

/* 전체 화면 - 바텀네비, 상단바 고정 패딩*/
.content-container {
	padding-bottom: 80px;
	padding-top: 76px;
}

.start-screen {
	margin: 0;
	padding: 0;
	background: white;
	overflow: hidden;
	font-family: 'NanumSquare Neo', sans-serif;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.logoAlert {
	max-width: 430px;
	padding: 20px;
	display: flex;
	justify-content: space-between; /* 좌우 끝으로 배치 */
	align-items: center; /* 수직 가운데 정렬 */
}

.logo-image {
	width: 36px;
	height: 36px;
}

.alert-image {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

/* --------------------
   Care Card Section
-------------------- */
.care-card {
	width: 390px;
	height: 179px;
	position: relative;
	background: #F7F7FF;
	border-radius: 30px;
}

.care-button {
	width: 350px;
	height: 50px;
	position: absolute;
	top: 109px;
	left: 20px;
	background: linear-gradient(135deg, #7672FF 0%, #8DACFF 100%);
	border-radius: 16px;
	cursor: pointer;
}

.care-button-text {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.care-greeting, .care-description {
	position: absolute;
	left: 20px;
	color: #4C4C4C;
}

.care-greeting {
	top: 20px;
	font-size: 16px;
	font-weight: 800;
	color: black;
}

.care-description {
	top: 44px;
	font-size: 14px;
	line-height: 20px;
}

.care-image {
	width: 70px;
	height: 74px;
	position: absolute;
	top: 46px;
	left: 277px;
}

/* --------------------
   Care Option Cards
-------------------- */
.care-options {
	width: 390px;
	height: 153px;
	position: relative;
}

.care-option {
	width: 185px;
	height: 87px;
	position: absolute;
	top: 33px;
}

.care-option:first-child {
	left: 0;
}

.care-option:last-child {
	right: 0;
}

.option-box {
	width: 100%;
	height: 66px;
	background: #F7F7FF;
	border-radius: 12px;
}

.option-icon {
	position: absolute;
	width: 42px;
	height: 45px;
	top: 11px;
	left: 71px;
}

.care-option:last-child .option-icon {
	width: 47px;
	height: 49px;
	top: 9px;
	left: 69px;
}

.option-label {
	position: absolute;
	top: 72px;
	left: 64px;
	font-size: 14px;
	font-weight: 400;
	color: black;
}

.care-option:last-child .option-label {
	left: 58px;
}

/* --------------------
    Card Lists
-------------------- */
.scroll-container, .scroll-container2 {
	overflow-x: auto;
	white-space: nowrap;
}

.container {
	max-width: 430px;
	padding: 40px 20px 0;
	position: relative;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.title .highlight {
	color: #534DFA;
	font-weight: 800;
}

.more {
	position: absolute;
	top: 36px;
	right: 20px;
	display: inline-flex;
	gap: 6px;
	font-size: 16px;
	color: #6E6E6E;
	font-weight: 700;
	text-decoration: none;
	align-items: center;
}

.cards-wrapper {
	padding-right: 20px;
	margin-top: 30px;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(2, 1fr);
	gap: 16px;
	overflow-x: auto;
}

.card {
	width: 300px;
	height: 140px;
	background: white;
	border-radius: 16px;
	padding: 15px 12px;
	position: relative;
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.card img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	position: absolute;
	top: 15px;
	left: 16px;
}

.card .location {
	background: rgba(6, 131, 0, 0.2);
	border-radius: 4px;
	padding: 2px 6px;
	font-size: 10px;
	font-weight: 700;
	color: #078300;
	position: absolute;
	top: 108px;
	left: 10px;
}

.card .caregiver, .card .parent, .card .time {
	font-size: 12px;
	position: absolute;
}

.card .caregiver {
	top: 87px;
	left: 12px;
	font-weight: 400;
}

.card .parent {
	top: 111px;
	left: 101px;
	color: #4C4C4C;
}

.card .time {
	top: 111px;
	right: 12px;
	color: #6E6E6E;
}

.card .content {
	top: 20px;
	left: 101px;
	width: 182px;
	max-height: 70px;
	font-size: 12px;
	line-height: 18px;
	color: black;
	position: absolute;
	overflow: hidden;
}

/* 긴급돌봄 카드 리스트 */
.scroll-container2 {
	padding: 20px 20px 60px;
	margin-top: 10px;
}

.cards-wrapper2 {
	background: #fff; /* 예시용 배경색 */
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	width: max-content;
}

.container2 {
	display: flex;
	align-items: center;
	gap: 14px;
	background: white;
	padding: 14px;
}

.container2 .name {
	font-weight: bold;
}

.container2 img:last-child {
	margin-left: auto;
	width: 28px;
	height: 28px;
}

.container3 {
	background: #F7F7FF;
	padding: 20px;
}

.card2 {
	width: 300px;
	background: white;
	border-radius: 28px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-decoration: none;
	color: inherit;
}

.card2 img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.card2 .name {
	font-weight: bold;
	margin: 10px 0 6px;
}

.card2 .checklist {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 8px;
}

.card2 .check-image {
	width: 24px;
	height: 24px;
}

.card2 .tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding-top: 12px;
}

.card2 .tag {
	font-size: 14px;
	color: #6E6E6E;
	background: #fff;
	padding: 6px 12px;
	border-radius: 12px;
	font-weight: 500;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	white-space: nowrap; /* 텍스트 내부 줄바꿈 방지 */
	display: inline-block; /* flex 말고 inline-block으로 */
}

/* --------------------
   Footer
-------------------- */
.nothing {
	background: #F7F7FF;
	width: 430px;
	height: 20px;
}

.footer {
	background-color: #fff;
	padding: 20px 16px;
	font-size: 12px;
	color: #6e6e6e;
	text-align: center;
	border-top: 1px solid #ddd;
}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-bottom: 8px;
	flex-wrap: wrap;
}

.footer-links a {
	color: #6e6e6e;
	text-decoration: none;
}

.footer-links a:hover {
	text-decoration: underline;
}

.footer-info p {
	margin: 0;
	line-height: 1.5;
}

/*
바텀 네비
*/
.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 430px;
	height: 70px;
	background-color: white;
	border-top: 1px solid #E0E0E0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1000; /* 항상 위에 */
}

.nav-item {
	all: unset; /* 기본 버튼 스타일 전부 제거 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #6E6E6E;
	cursor: pointer;
}

.nav-text.active {
	color: #5955F5;
	font-weight: bold;
}

.bottom-nav img {
	width: 24px;
	height: 24px;
	margin-bottom: 4px;
}