@charset "UTF-8";

body {
  margin: 0;
  font-family: 'NanumSquare Neo', sans-serif;
  background-color: #F7F7FF;
}

.container {
  width: 430px;
  height: 695px;
  position: relative;
  background: #F7F7FF;
  border-radius: 60px;
  margin: 0 auto;
  position: relative;
}

.logo {
  position: absolute;
  left: 81px;
  top: 45px;
  color: #7672FF;
  font-size: 22px;
  font-weight: 900;
}

.profile-image {
  width: 36px;
  height: 36px;
  left: 40px;
  top: 40px;
  position: absolute;
  overflow: hidden;
}

.title {
  position: absolute;
  left: 40px;
  top: 116px;
  font-size: 32px;
  font-weight: 800;
  color: black;
}

.label {
  position: absolute;
  left: 40px;
  font-size: 12px;
  font-weight: 700;
  color: #6E6E6E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  position: absolute;
  left: 40px;
  background: white;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  padding: 12px 16px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #B3B3B3;
  font-size: 12px;
  font-weight: 400;
}

.input-box.small {
  width: 220px;
  min-width: 100px;
}

.input-box.large {
  width: 320px;
  min-width: 240px;
}

.placeholder {
  flex: 1;
}

.check-btn {
  width: 78px;
  height: 30px;
  min-width: 52px;
  padding: 12px 16px;
  position: absolute;
  left: 310px;
  background: #D9D9D9;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}

.submit-btn {
  width: 350px;
  padding: 12px;
  position: absolute;
  left: 40px;
  top: 611px;
  background: #534DFA;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  font-family: 'NanumSquare Neo', sans-serif;
  color: #000;
  background: transparent;
  text-align: left;
}

button {
  cursor: pointer;
  border: none;
  font-family: 'NanumSquare Neo', sans-serif;
}