@charset "UTF-8";

/* 전체 배경 어둡게 */
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 팝업 박스 */
.popup {
  width: 340px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  animation: fadeIn 0.3s ease;
  position: relative;
  left:0px;
  bottom: 375px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'NanumSquare Neo', sans-serif;
  
}

.semi {
	font-family: 'NanumSquare Neo', sans-serif;
	position: relative;
 	 top:5px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* 옵션 카드 스타일 */
.option {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

.option img {
  width: 40px;
  margin-right: 12px;
}

.option .title {
  font-weight: bold;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.option .desc {
  font-size: 12px;
  color: gray;
}

/* 선택된 카드 */
.option.active {
  background: #F7F7FF;
  border-color: #534DFA;
}

/* 다음 버튼 */
.next-btn {
  width: 100%;
  background: #534DFA;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/* 등장 애니메이션 */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
